body{
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://pq.b5z.net/zirw/317/i/u/10099375/i/darkgreenbg.png') no-repeat top center fixed;
	background-size: cover;
	height: 600px;
}

#header-font{
	color:#a7b29b;
}

#top-nav{
	height:195px;
	background-color:#E2E4DB;
	padding:2%;
}

#sojourn-nav{
	font-size:12pt;
	margin-top:3%;
	color:#675538;
}
#sojourn-adven-header-img{
	margin-left:39%;
}
.about-wrapper{
	background-color: white;
	padding:2%;
}

#about-title-image {
	width:8%;
	margin-top: 4%;
	margin-right: -4%;
	margin-left: -4%;
}

#about-header{
	color:#516d21;
}

.left-rail-image{
	width:110% !important;
}

.left-image-descrip{
	font-size:11px;
}

.header-titles{
	color:#516d21;
	border-top: 1px solid #dfdfdf;
	padding-top: 3%;
}

#sojourn-image{
	border-top: 1px solid #dfdfdf;
	padding: 2% 2%;
}

#note-text{
	font-style:italic;
	font-size:small;
}
.right-wrapper{
	background-color:#e2e4db;
	padding-top: 2.5%;
	height: 1210px;
}

.right-rail-image{
	width:111%;
	margin-left: -5%;
	margin-bottom: 10%;
}